
1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [17]:
def number(n):
    for i in range(1,n+1):
        print(i)

In [18]:
n = 10
number(n)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [5]:
def sum(list1):
    sum1 = 0
    for i in list1:
        sum1= sum1+i
    return sum1

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum(list1)

55

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [33]:
def reverse(string):
    reverse_string =""
    for i in string[-1::-1]:
        reverse_string +=i
    return reverse_string

In [34]:
string = "mohit kumar"
reverse(string)

'ramuk tihom'

4. Develop a program that finds the factorial of a given number using a `for` loop

In [35]:
def factorial(n):
    result = 1
    for i in range(1,n):
        j =i*result
        i-=1
        result = j
    return result

In [36]:
n = 10
factorial(n)

362880

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [52]:
def multiplication(n2):
    for i in range(1,10):
        print(i*n2)

In [55]:
n2 = 5
multiplication(n2)

5
10
15
20
25
30
35
40
45

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [67]:
def count(list1):
    count_even = 0
    count_odd = 0
    for i in list1:
        if i%2==0:
            count_even+=1
        else:
            count_odd+=1
    print("count_even :",count_even ,",","count_odd:",count_odd )

In [69]:
list1 = [1,2,3,4,5,6,7,8,9,10,15,14,18,20]
count(list1)

count_even : 8 , count_odd: 6

7.Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [70]:
def squares(n):
    for i in range(1,n):
        print(i**2)

In [71]:
n = 10
squares(n)

1
4
9
16
25
36
49
64
81

8. Create a program to find the length of a string without using the `len()` function

In [80]:
def length(string):
    length1 = 0
    for i in string:
        length1+=1
    print(length1)

In [81]:
string = "mohit kumar"
length(string)

11

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [84]:
def average(list1):
    total = 0
    for number in list1:
        total += number
        average = total / len(list1)
    return average

In [85]:
list1 = [1,2,3,45,6,7,8,5,8,1]
average(list1)

8.6

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop

In [86]:
def Fibonacci_numbers(n):
    a,b =0,1
    for i in range(1,n):
        print(a,end = " ")
        a,b = b,a+b

In [89]:
n = 15
Fibonacci_numbers(n)

0 1 1 2 3 5 8 13 21 34 55 89 144 233

11. Write a program to check if a given list contains any duplicates using a `for` loop

In [93]:
def duplicate(list1):
    n =len(list1)
    for i in range(n):
        for j in range(i+1,n):
            if list1[i]==list1[j]:
                return True
    return False

In [94]:
list1 = [1,2,3,4,5,6,7,8,9,6]
duplicate(list1)

True

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
def prine_number(n):

13.Develop a program that counts the number of vowels in a string using a `for` loop

In [102]:
def count_vowels(string):
    count = 0
    voweles = "aeiou"
    for i in string:
        if i=="a" or i=="e" or i=="i" or i=="o" or i== "u":
            count+=1
    return count

In [103]:
string = "Develop a program that counts the number of vowels in a string using a `for` loop"
count_vowels(string)

24

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [110]:
def maximum_element(list1):
    max_element = list1[0][0]
    for row in list1:
        for element in row:
            if element > max_element:
                max_element = element
    return max_element

In [111]:
list1 = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
maximum_element(list1)

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop

In [118]:


def remove_all_occurrences(input_list, element):
   
    for item in input_list[:]:
        if item == element:
            input_list.remove(item)
    return input_list

input_list = [1, 2, 3, 2, 4, 2, 5]
element = 2
remove_all_occurrences(input_list, element)

[1, 3, 4, 5]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [119]:
for i in range(1, 6):  
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):  
        product = i * j
        print(f"{i} * {j} = {product}")

Multiplication Table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Multiplication Table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Multiplication Table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Multiplication Table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Multiplication Table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [124]:
list1 = [12,45,78,98,65,32,25,85]
for i in list1:
    x= (i - 32) * 5/9 
    print("celius",x)

celius -11.11111111111111
celius 7.222222222222222
celius 25.555555555555557
celius 36.666666666666664
celius 18.333333333333332
celius 0.0
celius -3.888888888888889
celius 29.444444444444443

18. Create a program to print the common elements from two lists using a `for` loop.

In [125]:
def common(list1,list2):
    for i in list1[:]:
        for j in list2[:]:
            if i==j:
                print(i)

In [128]:
list1 =[1,2,3,4,5,6,7]
list2 = [5,6,7,8,9]
common(list1,list2)

5
6
7

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [136]:
row_num = int(input("enter the value"))
for i in range(1,row_num+1):
    for j in range(1,i+1):
        print("*",end ="")
    print()

enter the value 10

*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [140]:
def greatest_common_divisor(a,b):
    gcd = 1
    for i in range(1, min(a, b) + 1):
        if a % i == 0 and b % i == 0:
            gcd = i  
    return gcd

In [141]:
a =60
b= 80
greatest_common_divisor(a,b)

20

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

22.Develop a program that extracts unique elements from a list and stores them in a new list using a list

In [8]:
def extract_unique_elements(input_list):
    unique_list =[]
    for i in input_list:
        if i not in unique_list:
            unique_list.append(i)
    return unique_list

In [9]:
input_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
extract_unique_elements(input_list)

[1, 2, 3, 4, 5, 6]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list

In [11]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]

def palindrome_range(start, end):
    nums = list(range(start, end+1))
    palindromes = list(filter(lambda x: is_palindrome(x), nums))
    return palindromes

start=100
end=200
print(palindrome_range(start, end))

[101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

25. Write a program to flatten a nested list using list comprehension

In [20]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list1 = []
for sublist in nested_list:
    for item  in sublist:
        list1.append(item)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list

In [35]:
def count(list1):
    sum_even = 0
    sum_odd = 0
    for i in list1:
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i
    print(f"sum_of_even : {sum_even} , sum_of_odd : {sum_odd}" )

In [36]:
list1 = [1,2,3,4,5,6,7,8,9,10,18,15,47,58,52,12]
count(list1)

sum_of_even : 170 , sum_of_odd : 87

27.Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [38]:
odd_squares = [x**2 for x in range(1, 11) if x % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension

In [39]:
def combine_lists_to_dict(keys_list, values_list):

  combined_dict = {key: value for key, value in zip(keys_list, values_list)}
  return combined_dict

keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]

my_dict = combine_lists_to_dict(keys, values)
print(my_dict)

items = ["apple", "banana", "cherry"]
prices = [1.0, 0.5, 1.2]

{'name': 'Alice', 'age': 30, 'city': 'New York'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [43]:
def list_vowels(string):
    list1 = []
    voweles = "aeiou"
    for i in string:
        if i=="a" or i=="e" or i=="i" or i=="o" or i== "u":
            list1.append(i)
        
    return list(list1)

In [44]:
string = "Write a program that combines two lists into a dictionary using li"
list_vowels(string)

['i',
 'e',
 'a',
 'o',
 'a',
 'a',
 'o',
 'i',
 'e',
 'o',
 'i',
 'i',
 'o',
 'a',
 'i',
 'i',
 'o',
 'a',
 'u',
 'i',
 'i']

# Basic If-Else Statements:

In [51]:
 def chack(n):
     if n>0:
         return "Number is Positive"
     else:
        return "Number is Negative"

In [52]:
n =-1
chack(n)

'Number is Negative'

2. Create a program that determines if a person is eligible to vote based on their age

In [53]:
def chack(age):
    if age>=18:
        return "eligible to vote"
    else:
        return "Not eligible to vote"

In [54]:
age =20
chack(age)

'eligible to vote'

3. Develop a program to find the maximum of two numbers using if-else statements.

In [56]:
n1 = 15
n2 = 18
if n1>n2:
    print("n1 is maximum")
else:
    print("n2 is maximum")

n2 is maximum

4. Write a Python script to classify a given year as a leap year or not.

In [57]:
year = int(input("Enter the year"))
if(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("year is a leap year ")
else:
    print("year is not a leap year ")

Enter the year 2000

year is a leap year

5. Create a program that checks whether a character is a vowel or a consonant

In [ ]:
char = input("value")
char_lower = char.lower()  

vowels = ['a', 'e', 'i', 'o', 'u']

if len(char) != 1:
    
    return "Please enter a single character."
elif not char.isalpha():
    
    return f"'{char}' is not an alphabet."
elif char_lower in vowels:
    return f"'{char}' is a vowel."
else:
    return f"'{char}' is a consonant."

6. Implement a program to determine whether a given number is even or odd

In [2]:
number = int(input("number"))
if number%2==0:
    print("number is even")
else:
    print("number is odd")

number 20

number is even

. Write a Python function to calculate the absolute value of a number without using the `abs()` function

In [7]:
def calculate_absolute_value(number):
    
    if number < 0:
        return -number
    else:
        return number

In [8]:
number = 20
calculate_absolute_value(number)

20

8. Develop a program that determines the largest of three given numbers using if-else statements

In [9]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print("The largest number is:", largest)

Enter the first number:  15
Enter the second number:  11
Enter the third number:  16

The largest number is: 16.0

9. Create a program that checks if a given string is a palindrome.

In [10]:
s = "malayalam" 

if s == s[::-1]:
    print("Yes")
else:
    print("No")

Yes

10. Write a Python program to calculate the grade based on a student's score.

In [19]:
def calculate_grade(score):

    
        if 90 <= score <= 100:
            return "A"
        elif 80 <= score < 90:
            return "B"
        elif 70 <= score < 80:
            return "C"
        elif 60 <= score < 70:
            return "D"
        elif 0 <= score < 60:
            return "F"
        else:
            return "Invalid Score: Score must be between 0 and 100."

In [20]:
score = 80
calculate_grade(score)

'B'


11. Write a program to find the largest among three numbers using nested if-else statements

In [25]:
def find_largest_nested_if_else(num1, num2, num3):
   
   
    if num1 >= num2:
        if num1 >= num3:
            return num1
        else:
            return num3
    else:
        if num2 >= num3:
            return num2
        else:
            return num3

number1 = 10
number2 = 25
number3 = 15

largest_number = find_largest_nested_if_else(number1, number2, number3)
print(f"The largest number is: {largest_number}")

The largest number is: 25

In [26]:
12. Implement a program to determine if a triangle is equilateral, isosceles, or scalene.

SyntaxError: invalid syntax (2228972968.py, line 1)

In [28]:


def classify_triangle():
    try:
        side1 = float(input("Enter the length of side 1: "))
        side2 = float(input("Enter the length of side 2: "))
        side3 = float(input("Enter the length of side 3: "))

        if side1 <= 0 or side2 <= 0 or side3 <= 0:
            print("Side lengths must be positive.")
            return

        # Check for triangle inequality theorem
        if not (side1 + side2 > side3 and side1 + side3 > side2 and side2 + side3 > side1):
            print("The given side lengths do not form a valid triangle.")
            return

        if side1 == side2 and side2 == side3:
            print("The triangle is Equilateral.")
        elif side1 == side2 or side2 == side3 or side1 == side3:
            print("The triangle is Isosceles.")
        else:
            print("The triangle is Scalene.")

    except ValueError:
        print("Invalid input. Please enter numeric values for side lengths.")

classify_triangle()

Enter the length of side 1:  5
Enter the length of side 2:  5
Enter the length of side 3:  5

The triangle is Equilateral.

13. Develop a program that checks if a year is a leap year and also if it is a century year

In [29]:
def check_year_properties(year):
    is_century = (year % 100 == 0)
    is_leap = False

    if is_century:
        if year % 400 == 0:
            is_leap = True
    elif year % 4 == 0:
        is_leap = True

    print(f"Year: {year}")
    if is_century:
        print(f"{year} is a century year.")
    else:
        print(f"{year} is not a century year.")

    if is_leap:
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

In [32]:
year = 2025
check_year_properties(year)

Year: 2025
2025 is not a century year.
2025 is not a leap year.

14.Write a Python script to determine if a number is positive, negative, or zero

In [33]:
def check_number_type(number):
 
  if number > 0:
    return "Positive"
  elif number < 0:
    return "Negative"
  else:
    return "Zero"

In [34]:
number = 15
check_number_type(number)

'Positive'

15. Create a program to check if a person is a teenager (between 13 and 19 years old

In [36]:
age = int(input("Enter the person's age: "))

if age >= 13:
    if age <= 19:
        print("The person is a teenager.")
    else:
        print("The person is an adult.")
else:
    print("The person is a child.")

Enter the person's age:  21

The person is an adult.

16. Develop a program that determines the type of angle based on its measure (acute, obtuse, or right).

In [37]:
def classify_angle(angle_measure):
  
    if 0 < angle_measure < 180: 
        if angle_measure == 90:
            return "Right"
        else:  
            if angle_measure < 90:
                return "Acute"
            else:  
                return "Obtuse"
    else:
        return "Invalid Angle"
angle1 = 45
print(f"An angle of {angle1} degrees is: {classify_angle(angle1)}")

angle2 = 90
print(f"An angle of {angle2} degrees is: {classify_angle(angle2)}")

angle3 = 120
print(f"An angle of {angle3} degrees is: {classify_angle(angle3)}")

angle4 = -10
print(f"An angle of {angle4} degrees is: {classify_angle(angle4)}")

angle5 = 185
print(f"An angle of {angle5} degrees is: {classify_angle(angle5)}")

An angle of 45 degrees is: Acute
An angle of 90 degrees is: Right
An angle of 120 degrees is: Obtuse
An angle of -10 degrees is: Invalid Angle
An angle of 185 degrees is: Invalid Angle

17. Write a Python program to calculate the roots of a quadratic equation.

In [ ]:
import cmath

def calculate_quadratic_roots():
    """Calculates and prints the roots of a quadratic equation."""
    try:
        a = float(input("Enter coefficient a: "))
        b = float(input("Enter coefficient b: "))
        c = float(input("Enter coefficient c: "))
    except ValueError:
        print("Invalid input. Please enter numerical values for coefficients.")
        return

    if a == 0:
        print("This is not a quadratic equation (coefficient 'a' cannot be zero).")
        return

    discriminant = (b**2) - (4 * a * c)

    if discriminant > 0:
       
        root1 = (-b - cmath.sqrt(discriminant)) / (2 * a)
        root2 = (-b + cmath.sqrt(discriminant)) / (2 * a)
        print(f"The equation has two distinct real roots: {root1:.2f} and {root2:.2f}")
    else:  
        if discriminant == 0:
  
            root = -b / (2 * a)
            print(f"The equation has one real and repeated root: {root:.2f}")
        else:
            root1 = (-b - cmath.sqrt(discriminant)) / (2 * a)
            root2 = (-b + cmath.sqrt(discriminant)) / (2 * a)
            print(f"The equation has two complex conjugate roots: {root1:.2f} and {root2:.2f}")

# Call the function to execute the program
calculate_quadratic_roots()

18. Implement a program to determine the day of the week based on a user-provided number (1 for Monday, 2

In [2]:
day_number = int(input("Enter a number (1-7) to determine the day of the week: "))

if day_number == 1:
    print("Monday")
elif day_number == 2:
    print("Tuesday")
elif day_number == 3:
    print("Wednesday")
elif day_number == 4:
    print("Thursday")
elif day_number == 5:
    print("Friday")
elif day_number == 6:
    print("Saturday")
elif day_number == 7:
    print("Sunday")
else:
    print("Invalid input! Please enter a number between 1 and 7.")

Enter a number (1-7) to determine the day of the week:  5

Friday


19. Create a program that determines if a year is a leap year and also if it is evenly divisible by 400.

In [ ]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year.")
            print(f"{year} is evenly divisible by 400.")
        else:
            print(f"{year} is not a leap year.")
            print(f"{year} is not evenly divisible by 400.")
    else:
        print(f"{year} is a leap year.")
        print(f"{year} is not evenly divisible by 400.") 
else:
    print(f"{year} is not a leap year.")
    print(f"{year} is not evenly divisible by 400.")

20. Develop a program that checks if a given number is prime or not using nested if-else statements.

In [1]:


def is_prime(number):

    if number <= 1:
        return False
 
    elif number == 2:
        return True
   
    elif number % 2 == 0:
        return False
    else:
     
        i = 3
        while i * i <= number:
            if number % i == 0:
                return False  
            i += 2
        return True 


num_to_check = 29
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

num_to_check = 10
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

num_to_check = 1
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

29 is a prime number.
10 is not a prime number.
1 is not a prime number.

21. Write a Python program to assign grades based on different ranges of scores using elif statements

In [3]:
def assign_grade(score):

    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

student_score = float(input("Enter the student's score: "))
grade = assign_grade(student_score)
print(f"The student's grade is: {grade}")

Enter the student's score:  80

The student's grade is: B

22. Implement a program to determine the type of a triangle based on its angles.

In [4]:
angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: "))

if (angle1 + angle2 + angle3 == 180) and (angle1 > 0 and angle2 > 0 and angle3 > 0):
    if angle1 == 90 or angle2 == 90 or angle3 == 90:
        print("This is a Right-angled Triangle.")
    elif angle1 < 90 and angle2 < 90 and angle3 < 90:
        print("This is an Acute-angled Triangle.")
    else:
        print("This is an Obtuse-angled Triangle.")
else:
    print("This is not a valid triangle.")

Enter the first angle:  45
Enter the second angle:  45
Enter the third angle:  90

This is a Right-angled Triangle.

Develop a program to categorize a given person's BMI into underweight, normal, overweight, or obese using

In [10]:
def categorize_bmi(weight_kg, height_m):
    
    bmi = weight_kg / (height_m ** 2)

    if bmi < 18.5:
        category = "Underweight"
    else: 
        if bmi < 25:
            category = "Normal"
        else: 
            if bmi < 30:
                category = "Overweight"
            else:  
                category = "Obese"
    return category

weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))

# Get the BMI category
bmi_category = categorize_bmi(weight, height)
print(f"Your BMI category is: {bmi_category}")

Enter your weight in kilograms:  62
Enter your height in meters:  1.70

Your BMI category is: Normal

24. Create a program that determines whether a given number is positive, negative, or zero using elif
statements

In [11]:

    number = float(input("Enter a number: "))

    if number > 0:
        print(f"{number} is a positive number.")
    elif number < 0:
        print(f"{number} is a negative number.")
    else:
        print(f"{number} is zero.")

Enter a number:  -15

-15.0 is a negative number.

25. Write a Python script to determine the type of a character (uppercase, lowercase, or special) using elif
statements.

In [13]:
character = input("Enter a single character: ")

if len(character) != 1:
    print("Please enter only a single character.")
elif 'A' <= character <= 'Z':
    print(f"'{character}' is an uppercase letter.")
elif 'a' <= character <= 'z':
    print(f"'{character}' is a lowercase letter.")
else:
    print(f"'{character}' is a special character.")

Enter a single character:  g

'g' is a lowercase letter.

26. Implement a program to calculate the discounted price based on different purchase amounts using elif
statements

In [19]:
total_cost = int(input('Please enter a total_cost:'))
if total_cost>=500:
    print("You have won a discount by 15 percent")
    total_cost *= 0.85



elif total_cost>100:

   print("You have won a discount by 10 percent")
   total_cost *= 0.9



elif total_cost>=50:

   print("You have won a discount by 5 percent")
   total_cost *= 0.95

else:
   print ('you total cost is not in the range of discount!')
print ('Now the total cost is ', total_cost)

Please enter a total_cost: 800

You have won a discount by 15 percent
Now the total cost is  680.0

27. Develop a program to calculate the electricity bill based on different consumption slabs using elif
statements

In [21]:
def calculate_electricity_bill():
    units = int(input("Enter the number of units consumed: "))
 

    bill_amount = 0

    if units <= 50:
        bill_amount = units * 3.50  
    elif units <= 150:
        bill_amount = (50 * 3.50) + ((units - 50) * 4.00)  
    elif units <= 250:
        bill_amount = (50 * 3.50) + (100 * 4.00) + ((units - 150) * 5.20) 
    else:
        bill_amount = (50 * 3.50) + (100 * 4.00) + (100 * 5.20) + ((units - 250) * 6.80)  # Rate for 251+ units

    print(f"The total electricity bill for {units} units is: ₹{bill_amount:.2f}")


calculate_electricity_bill()

Enter the number of units consumed:  170

The total electricity bill for 170 units is: ₹679.00

28. Create a program to determine the type of quadrilateral based on its angles and sides using elif
statements

In [23]:
def classify_quadrilateral(s1, s2, s3, s4, a1, a2, a3, a4):



    if not (abs(a1 + a2 + a3 + a4 - 360) < 0.01):  
        print("Invalid quadrilateral: Sum of angles is not 360 degrees.")
        return

    if s1 == s2 == s3 == s4 and a1 == a2 == a3 == a4 == 90:
        print("This is a Square.")
    
    elif s1 == s3 and s2 == s4 and s1 != s2 and a1 == a2 == a3 == a4 == 90:
        print("This is a Rectangle.")
    
    elif s1 == s2 == s3 == s4 and (a1 == a3 and a2 == a4) and not (a1 == 90):
        print("This is a Rhombus.")
    
    elif s1 == s3 and s2 == s4 and (a1 == a3 and a2 == a4) and not (a1 == 90):
        print("This is a Parallelogram.")
   
    elif (a1 + a4 == 180 and a2 + a3 == 180) or \
         (a1 + a2 == 180 and a3 + a4 == 180):
        print("This is a Trapezoid (or Isosceles Trapezoid if non-parallel sides are equal).")
    else:
        print("This is a general Quadrilateral.")

In [24]:
classify_quadrilateral(5, 5, 5, 5, 90, 90, 90, 90)

This is a Square.

In [26]:
def get_season_by_month(month_number):
    
    if month_number in [12, 1, 2]:
        return "Winter"
    elif month_number in [3, 4, 5]:
        return "Spring"
    elif month_number in [6, 7, 8]:
        return "Summer"
    elif month_number in [9, 10, 11]:
        return "Autumn"
    else:
        return "Invalid Month"

if __name__ == "__main__":
    try:
        month_input = int(input("Enter the month number (1-12): "))
        season = get_season_by_month(month_input)
        print(f"The season for month {month_input} is: {season}")
    except ValueError:
        print("Invalid input. Please enter an integer between 1 and 12.")

Enter the month number (1-12):  5

The season for month 5 is: Spring

30. Implement a program to determine the type of a year (leap or common) and month (30 or 31 days) using elif statements.

In [42]:
def determine_year_and_month_type():
    
    try:
        year = int(input("Enter a year: "))
        month = int(input("Enter a month (1-12): "))
    except ValueError:
        print("Invalid input. Please enter integers for year and month.")
        return

    is_leap_year = False
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        is_leap_year = True

    if is_leap_year:
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is a common year.")

    if month in (1, 3, 5, 7, 8, 10, 12):
        days_in_month = 31
    elif month in (4, 6, 9, 11):
        days_in_month = 30
    elif month == 2:
        if is_leap_year:
            days_in_month = 29
        else:
            days_in_month = 28
    else:
        print("Invalid month entered. Please enter a number between 1 and 12.")
        return

    print(f"Month {month} in {year} has {days_in_month} days.")
determine_year_and_month_type()

Enter a year:  2520
Enter a month (1-12):  2

2520 is a leap year.
Month 2 in 2520 has 29 days.