Quesion 1.Write a program to reverse a string.

In [4]:
str1 = "Convert a string where words are separated by spaces to one where words"
str1[::-1]

'sdrow erehw eno ot secaps yb detarapes era sdrow erehw gnirts a trevnoC'

Quesion 2.Check if a string is a palindrome.

str = input("Enter the string")
x = str[::-1]
if str==x:
    print(x ,": string is a palindrom")
else:
    print(x,": string is not a palindrom")

Quesion 3.Convert a string to uppercase

In [4]:
str = input("Enter the string")
str.upper()

Enter the string mohit

'MOHIT'

Quesion 3.Convert a string to lowercase

In [8]:
str = input("Enter the string")
str.lower()

Enter the string mohit

'mohit'

Quesion 5.Count the number of vowels in a string

In [9]:
str = "Convert a string where words are separated by spaces to one where word"
count= 0
vowels = "aeiou"
for i in str:
    for j in vowels:
        if i==j:
            count+=1
print(count)

21

Quesion 6. Count the number of consonants in a string

In [21]:
str = input("Enter the string :")
count = 0
vowels = "aeiou"
for i in str:
    for j in vowels:
        if i != j:
            count+=1
print(count)

Enter the string : mohit

23

In [17]:
str = (". Convert a string where words are separated by spaces to one where words")
count = 0 
consonant  ="aeiou"
for i in str :
    if i  not in consonant:
        count+=1
print(count)

. Convert a string where words are separated by spaces to one where words mohit

3

Quesion7.Remove all whitespaces from a string

In [22]:
str= "Convert a string where words are separated by spaces to one where words mohit"
str.replace(" ","")

'Convertastringwherewordsareseparatedbyspacestoonewherewordsmohit'

Quesion 8.Find the length of a string without using the `len()` function

In [25]:
str = input("Enter the string :")
length = 0
for i in str:
    length+=1
print("length of string is :",length)

Enter the string : mohit

length of string is : 5

Quesoin 9. Check if a string contains a specific word.

In [26]:
str = ". Check if a string mohit kumar contains a specific word."
find = "mohit kumar"
if find in str:
    print(find)

mohit kumar

Quesion10.. Replace a word in a string with another word

In [8]:
str = " Check if a string mohit kumar contains a specific word."
result = i
for i in str:
    if i == "mohit kumar":
        
            i = "rohit kumar"
        
    result+=i
print (result)

. Check if a string mohit kumar contains a specific word.

In [43]:
string = "The quick brown fox jusmps quick over the lazy dog"
words = string.split(" ")

result = '  '
for i in words:
        if i == "quick":
                i = "mohit"
        result += i
print(result)

  Themohitbrownfoxjusmpsmohitoverthelazydog

In [47]:
def custom_replace(original_string, old_word, new_word):
    words = original_string.split(' ')  # Split the string by spaces
    new_words = []
    for word in words:
        if word == old_word:
            new_words.append(new_word)
        else:
            new_words.append(word)
    return ' '.join(new_words)  # Join the words back with spaces

# Example usage:
my_string = "This is a test string"
modified_string = custom_replace(my_string, "test", "sample")
print(modified_string) # Output: This is a sample string

This is a sample string

Quesion11.Count the occurrences of a word in a string

In [22]:
def string_split(string):
    list_string = []
    start_index = 0
    for i in range(0,len(string)): 
        if string[i] == " ":
            space_index = i
            word = string[start_index:space_index]
            start_index = space_index+1
            list_string.append(word)
    list_string.append(string[start_index:])        
    return list_string

def count_occurrence(str1,word):
    words = string_split(str1)
    count = 0
    for i in words:
        if i==word:
            count+=1
    return count

In [23]:
string = "Count the a number count of uppercase cuunt letters count in a string."
words = "count"
output = count_occurrence(string,words)
print(output)

2

Quesion12.. Find the first occurrence of a word in a string

In [6]:
def split(string):
    list_string = []
    start_index = 0
    for i in range(0,len(string)):
        if string[i]== " ":
            space_index = i
            word= string[start_index : space_index]
            start_index = space_index+1
            list_string.append(word)
    list_string.append(string[start_index:])
    return list_string
def first_occurrence(string1,word):
    words = split(string1)
    for i in range(0,len(words)):
        if words[i] == word:
            first_occ = i
            
    return first_occ

In [8]:
string1 = "Count the a number count of number uppercase cuunt letters number count in a string."
word  = "number"
output = first_occurrence(string1,word)
print(output)

10

Quesion13.. Find the last occurrence of a word in a string.

Quesion14.. Split a string into a list of words

In [10]:
def n_split(str1):
    new_list= []
    start = 0
    for i in range(0,len(str1)):
        if str1[i] == " ":
            space_index = i
            word = str1[start : space_index]
            start = space_index+1
            new_list.append(word)
    new_list.append(str1[space_index:])
        
    return new_list

In [11]:
str1 = "Check if a string starts with a specific word or phrase"
print(n_split(str1))

['Check', 'if', 'a', 'string', 'starts', 'with', 'a', 'specific', 'word', 'or', ' phrase']

Quesion 15.Join a list of words into a string.

In [20]:
list1 = ['Check', 'if', 'a', 'string', 'starts']
str1 = ""
for i in list1:
    str1=str1 + i +" "
print(str1)

Check if a string starts

In [14]:
type(str1)

str

Quesion16.Convert a string where words are separated by spaces to one where words
are separated by underscores

In [17]:
str1 = "Convert a string where words are separated by spaces to one where words are separated by underscores"
word = str1.split()
str2 = "_".join(word)
print(str2)

Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores

In [21]:
str1 = "Convert a string where words are separated by spaces to one where words are separated by underscores"
word = str1.replace(" ","_")
print(word)

Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores

Quesion17.Check if a string starts with a specific word or phrase.

In [25]:
str1 = "Hello,mohit kumar"
x= str1.startswith("Hello")
print(x)

True

In [38]:
str1 = input("Enter the string :")
x = str1.split()
if x[0]=="Hello":
    print(True)
else:
    print(False)

Enter the string : Hello my name is mohit kumar

True

Quesion18.Check if a string ends with a specific word or phrase

In [46]:
str1 = "Hello mohit kumar"
x= str1.endswith("kumar")
print(x)

True

In [48]:
str1 = input("Enter the string :")
x = str1.split()
if x[-1]=="space.":
    print(True)
else:
    print(False)

Enter the string : . Replace multiple spaces in a string with a single space.

True

Quesion 19.Convert a string to title case (e.g., "hello world" to "Hello World").

In [52]:
str = "hello world"
x = str.title()
print(x)

Hello World

In [19]:
str1 = "mohit is a good boy he is a very honsety "
words = str1.split()
title_cased_words = []
for word in words:
    
    if word:  
        title_cased_word = word[0].upper() + word[1:].lower()
        title_cased_words.append(title_cased_word)
    else:
        title_cased_words.append('')  
        
  

print(" ".join(title_cased_words))

Mohit Is A Good Boy He Is A Very Honsety

Quesion 19.Find the longest word in a string

In [13]:
str1 = "Count the number  of uppercase letters in a string"
words = str1.split()
longest_word = max(words, key=len)  
print(longest_word)

uppercase

In [124]:
def longest_word(str1):
    words = str1.split()
    count = 1
    for i in words:
        if  len(i)>count:
            count = len(i)
            
            
    return  count

In [125]:
str1 = "Count the number  of uppercase letters in a string "
print("longest word in a string",longest_word(str1))

longest word in a string 9

In [74]:
def longest_word(str1):
    words = str1.split()
    count = 0
    for i in words:
        print(i, len(i))

In [75]:
str1 = "Count the number  of uppercase letters in a string"
print(longest_word(str1))

Count 5
the 3
number 6
of 2
uppercase 9
letters 7
in 2
a 1
string 6
None

Quesion21.Find the shortest word in a string

In [14]:
str1 = "Count the number  of uppercase letters in a string"
words = str1.split()
shortest_word = min(words, key=len)  
print(shortest_word)

a

Quesion22.Reverse the order of words in a string

In [22]:
str1 = "Python is a powerful language"
words = str1.split()
x = words[::-1]
result = " ".join(x)
print(result)

language powerful a is Python

Quesion 23.Check if a string is alphanumeric.

In [22]:
str1 = "mohitkumar@"
result = str1.isalnum()
print(result)

False

In [9]:
str1 = input("enter the string")
for i in str1:
    if not (i.isalpha() or i.isdigit()):
        print(False)
        break 
else:
    print(True)

enter the string kjnibihn

True

Quesion 24.. Extract all digits from a string.

In [ ]:
str1 = "Extract 15 the username 14 from an 13 email 12 address 11 string"
words = str1.split()
for item in words:
    if item.isdigit():
        print(item)

Quesion25.Extract all alphabets from a string

In [29]:
input_string = "Extract 15 the username 14 from an 13 email 12 address 11 string"
alphabets = "".join(char for char in input_string if char.isalpha())
print(alphabets)

Extracttheusernamefromanemailaddressstring

Quesion26.Count the number of uppercase letters in a string.

In [10]:
str1 = "Replace Multiple Spaces In  String With A Single Space"
count = 0
for item in str1:
    if item.isupper():
        count+=1
print(count)

9

Quesion27.Count the number of lowercase letters in a string.

In [18]:
str1 = "Replace Multiple Spaces In  String With A Single Space"
count = 0
for item in str1:
    if item.islower():
        count+=1
print(count)

36

Quesion28.. Swap the case of each character in a string

In [25]:
str1 = "MOHIT KUMAR123"
swap = str1.swapcase()
print(swap)

mohit kumar123

Quesion29.. Remove a specific word from a string

In [8]:
str1 = " Count the number of uppercase letters in a string"
result= []
words = str1.split()
for i in words :
    if i != "number":
        result.append(i)
print(" ".join(result))

Count the of uppercase letters in a string

Quesion30.Check if a string is a valid email address

# list

num = list(range(1,11))
print(num)

Quesion2.. Find the length of a list without using the `len()` function.

In [85]:
l = (1,2,3,4,5,65,47,8,8,8)
len = 0
for i in l:
    len+=1
print(len)

10

Quesion3.Append an element to the end of a list

In [12]:
l= [1,2,3,4,5,6]
l.append(7)
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
list = [1,2,3,4,5]
add_element = 6
new_list = list + [add_element]
print(new_list)

[1, 2, 3, 4, 5, 6]

In [3]:
list = [1,2,3,4,5]
add_element = 6
new_list = list + [6]
print(new_list)

[1, 2, 3, 4, 5, 6]

Quesion4.. Insert an element at a specific index in a list.

In [5]:
list = [1,2,3,4,6,7,8]
list.insert(4,5)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
list = [1,2,3,4,6,7,8]
new_list = []
for i in range(len(list)):
    if i == [4]:
        new_list.append(5)
        i+=1
print(new_list)

[]

Quesion5.. Remove an element from a list by its value

In [18]:
list = [1,2,3,4,5,6,7,8]
remove_value = 5
result = []
for i in list:
    if i != remove_value:
        result.append(i)
print(result)

[1, 2, 3, 4, 6, 7, 8]

Quesion6.Remove an element from a list by its index

In [20]:
list = [1,2,3,4,5,6,7,8]
remove_index = 3
del list[remove_index]
print(list)

[1, 2, 3, 5, 6, 7, 8]

Quesion7.Check if an element exists in a list.

In [8]:
list = [1,2,3,4,5,6,7,8]
find_element = int(input("enter the element"))
for i in list:
    if i == find_element :
        print(find_element ,"element exists in a list")
        break 
else:
    print("element not exists in a list")

enter the element 15

element not exists in a list

Quesion8.. Find the index of the first occurrence of an element in a list.

In [14]:
list = [1,2,3,5,8,52,1947,5216,5,2]
j =[]
for i in list:
    if i == range(len(list)):
        l.append(i)
print(j)

[]

Quesion10.Reverse the order of elements in a list

In [19]:
list = [1,2,3,4,5,6,7,8]
list1 = list[::-1]
print(list1)

[8, 7, 6, 5, 4, 3, 2, 1]

Quesion11.. Sort a list in ascending order

In [5]:
list1= [8,9,4,5,6,21,58,1,2,3]
n= len(list1)
for i in range(0,n-1):
    for j in range(0,n-i-1):
        if list1[j]>list1[j+1]:
            list1[j],list1[j+1]= list1[j+1],list1[j]  
print(list1)

[1, 2, 3, 4, 5, 6, 8, 9, 21, 58]

Quesion12.Sort a list in descending order

In [8]:
list1= [8,9,4,5,6,21,58,1,2,3]
n= len(list1)
for i in range(0,n-1):
    for j in range(0,n-i-1):
        if list1[j]<list1[j+1]:
            list1[j],list1[j+1]= list1[j+1],list1[j]
print(list1)

[58, 21, 9, 8, 6, 5, 4, 3, 2, 1]

Quesion13.Create a list of even numbers from 1 to 20.

In [8]:
def even_num(n):
    list_even = []
    for i in range(1,n+1):
        if i%2==0:
            list_even.append(i)
    return list_even

In [9]:
n= 20
print(even_num(n))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Quesion14.Create a list of odd numbers from 1 to 20.

In [25]:
def odd_num(n1,n2):
    list_odd = []
    for i in range(n1,n2+1):
        if i%2 !=0:
            list_odd.append(i)
    return list_odd

In [26]:
n1 = 20
n2=100
print(odd_num(n1,n2))

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Quesion15. Find the sum of all elements in a list

In [17]:
def sum(lists):
    sum_of_list= 0
    for i in lists:
        sum_of_list =i + sum_of_list
    return sum_of_list

In [19]:
list = [1,2,3,4,5,6,7,8,9,10]
print(sum(list))

55

Quesion16.Find the maximum value in a list

In [10]:
def maximum_value(list):
    maximum_num = 0
    for i in list:
        if i > maximum_num:
            maximum_num = i
    return maximum_num

In [11]:
list = [1,2,18,4,15,6,7,8,25,10]
print(maximum_value(list))

25

In [38]:
def minimum_value(list):
    minimum_num = list[0]
    for i in list:
        if i < minimum_num:
            minimum_num = i
    return minimum_num

In [39]:
list = [50,18,4,15,1,21,8,25,10]
print(minimum_value(list))

1

Quesion17.Create a list of squares of numbers from 1 to 10.

In [42]:
def squares(n1,n2):
    list_of_squares = []
    for i in range(n1,n2):
        squares = i**2
        list_of_squares.append(squares)
    return list_of_squares

In [46]:
n1= 2
n2= 15
print(squares(n1,n2))

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

Quesion19.Create a list of random numbers

In [47]:
def random_list(a,b,n):
    list1 = []
    
    for i in range(10):
        list1.append(i)
    return list1

In [48]:
n1=1
n2= 100
print(random_list(n1,n2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Quesion20. Remove duplicates from a list.

In [7]:
def remove_duplicates(list1):
    list2 = []
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

In [8]:
list1 = [1,2,3,4,5,8,5,2,6,4,9,3]
print(remove_duplicates(list1))

[1, 2, 3, 4, 5, 8, 6, 9]

Quesion21.. Find the common elements between two lists

In [17]:
def common_element(list1,list2):
    list3 = []
    for i in list1:
        if i in list2:
            list3.append(i)
    return list3

In [20]:
list1 = [1,2,3,4,5,8,5,6,4,9,3]
list2 = [1,5,4,8,7,6,8,4,2,9]
print(common_element(list1,list2))

[1, 2, 4, 5, 8, 5, 6, 4, 9]

Quesion22.Find the difference between two lists

In [40]:
def difference_element(list1,list2):
    list3 = []
    for i in list1:
        if i not in list2:
            list3.append(i)
    return list3

In [42]:
list1 = [1,2,3,4,0,5,8,5,6,4,9,]
list2 = [1,5,4,8,7,6,8,4,2,9]
print(difference_element(list1,list2))

[3, 0]

Quesion23.Merge two lists

In [50]:
def merge(list1,list2):
    list4= list1+list2
    return list4

In [51]:
list1 = [1,2,3,4,0,5,8,5,6,4,9,]
list2 = [1,5,4,8,7,6,8,4,2,9]
print(merge(list1,list2))

[1, 2, 3, 4, 0, 5, 8, 5, 6, 4, 9, 1, 5, 4, 8, 7, 6, 8, 4, 2, 9]

Quesion24.. Multiply all elements in a list by 2.

In [3]:
def multiply(list1):
    list2 = []
    for i in list1:
        i=i*2
        list2.append(i)
    return list2

In [5]:
list1 = [2,3,4,5,6,7,8,9]
print(multiply(list1))

[4, 6, 8, 10, 12, 14, 16, 18]

Quesion25.. Filter out all even numbers from a list.

In [8]:
def filter_even_num(list1):
    list2 = []
    for i in list1:
        if i%2==0:
            list2.append(i)
    return list2

In [9]:
list1= [2,5,1,4,55,9,2,88,3,6,7,10]
print(filter_even_num(list1))

[2, 4, 2, 88, 6, 10]

Quesion26.. Convert a list of strings to a list of integers

In [10]:
def integers(list1):
    list2= []
    for i in list1:
        list2.append(int(i))
    return list2

In [11]:
list1= ["1","2","3","4","5"]
print(integers(list1))

[1, 2, 3, 4, 5]

Quesion27.. Convert a list of integers to a list of strings.

In [14]:
def string(list1):
    list_of_string = []
    for i in list1:
         list_of_string.append(str(i))
    return  list_of_string

In [15]:
list1= [2,5,1,4,55,9,2,88,3,6,7,10]
print(string(list1))

['2', '5', '1', '4', '55', '9', '2', '88', '3', '6', '7', '10']

Quesion28. Flatten a nested list.

In [28]:
def flatten_of_nested(list1):
    flatten= []
    for sublist in list1:
        for i in sublist:
            flatten.append(i)
    return flatten

In [27]:
list1 = [[1, 2, 3], [4, 5], [6, 7, 8]]
print(flatten_of_nested(list1))

[1, 2, 3, 4, 5, 6, 7, 8]

Quesion29.Create a list of the first 10 Fibonacci numbers.

In [9]:
def fibonacci_list(a,b,n):
    list1 = []
    while n>0:
        c = a+b
        list1.append(c)
        a,b = b,a+b
        n-=1
    return list1

In [10]:
a= 0
b= 1
n = 10
print( fibonacci_list(a,b,n))

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [16]:
def fibonacci_for_loop(a,b,n):
    
    for i in range(n):
        print(a)
        a, b = b, a + b


fibonacci_for_loop(0,1,10)

0
1
1
2
3
5
8
13
21
34

In [29]:
def check_list_is_sorted(list1):
    x = list1[:]
    x.sort()
    if x==list1:
        return True
    
    else:
        return False

In [30]:
list1= [1,2,7,4,5,6]
print(check_list_is_sorted(list1))

False

Quesion31.Rotate a list to the left by `n` positions.

In [87]:
def left_rotate(list1,n):
    for i in range(n):
        last_element = list1.pop(-1)
        list1.insert(0,last_element)
    return list1

In [88]:
list1= [1,2,3,4,5]
n= 2
print(left_rotate(list1,n))

[4, 5, 1, 2, 3]

Quesion32. Rotate a list to the right by `n` positions.

In [76]:
def right_rotate(lst, n):  
    return lst[-n:] + lst[:-n]

In [77]:
lst1= [1,2,7,4,5,6]
n= 2
print(right_rotate(lst1,n))

[5, 6, 1, 2, 7, 4]

In [82]:
def left_rotate(lst, n):
    for i in range(n):
        lst.append(lst.pop(0))  
    return lst


lst = [1, 2, 3, 4, 5]
n = 2
print(left_rotate(lst, n))

[3, 4, 5, 1, 2]

Quesion33.Create a list of prime numbers up to 50

In [11]:
def prime_number (n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True
N = 50
for i in range(2,N+1):
    if prime_number(i):
        print(i,end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

Qiesion33.Split a list into chunks of size `n`.

In [12]:
def chunk_list(lst, n):
    .

    
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = list(chunk_list(my_list, chunk_size))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

Quesion35.. Find the second largest number in a list

In [1]:
def second_largest_num(list1):
    largest= 0
    for i in (list1):
        if i > largest :
            second_largest = largest
            largest = i
    return second_largest

In [2]:
list1=[1,2,3,5,4,18,7,9,2,5,15,19]
print(second_largest_num(list1))

18

Quesion36.Replace every element in a list with its square.

In [3]:
def square(list1):
    list2 = []
    for i in list1:
        list2.append(i**2)
    return list2

In [4]:
list1 =[1,2,3,5,4,18,7,9,2,5,15,19]
print( square(list1))

[1, 4, 9, 25, 16, 324, 49, 81, 4, 25, 225, 361]

Quesion37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [103]:
my_list = [1,2,3,5,4,18,7,9,2,5,15,19]
my_dict = {}

for i in range(len(my_list)):
    my_dict[my_list[i]] = i

print(my_dict)

{1: 0, 2: 8, 3: 2, 5: 9, 4: 4, 18: 5, 7: 6, 9: 7, 15: 10, 19: 11}

Quesion38.Shuffle the elements of a list randomly.

In [5]:
def shuffle(list1):
    shuffal =  list1[::-1]
    shuffal = shuffal[-1:] + shuffal[:-1]  
    return shuffal

In [12]:
list1 = [1,2,3,5,4,18,7,9,2,5,15,19]
print(shuffle(list1))

[1, 19, 15, 5, 2, 9, 7, 18, 4, 5, 3, 2]

Quesion39. Create a list of the first 10 factorial numbers.

In [6]:
factorials = []
fact = 1
for i in range(1,10):
    fact= fact* i
    factorials.append(fact)

print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Quesion40. Check if two lists have at least one element in common.

In [16]:
def common(list1,list2):
    for i in list1:
        if i in list2:
            return True
    else:
        return False

In [17]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]
print(common(list1,list2))

True

Quesion41.. Remove all elements from a list.

In [23]:
def remove(list1):
    list1[:] =[]
    print(list1)
list1= [1,2,3,4,5,6]
print(remove(list1))

[]
None

Quesion42.. Replace negative numbers in a list with 0.

In [29]:
def replace_negative_num(list1):
    list2 = []
    for i in list1:
        if i<0:
            list2.append(0)
        else:
            list2.append(i)
    return list2

In [30]:
list1 = [1,2,3,-4,-5,-6,7,8,9]
print(replace_negative_num(list1))

[1, 2, 3, 0, 0, 0, 7, 8, 9]

Quesion 43.Convert a string into a list of words.

In [15]:
def  split(string):
    list1 =[]
    start = 0
    for i in range(0,len(string)):
        if string[i] ==" ":
            space_index = i
            word = string[start:space_index]
            start = space_index+1
            list1.append(word)
    list1.append(string[start:])
    return list1
            
string = "Shuffle the elements of a list randomly"        
print(split(string))

['Shuffle', 'the', 'elements', 'of', 'a', 'list', 'randomly']

Quesion44.Convert a list of words into a string

In [29]:
def list_to_string(list1):
    string  = ""
    for i in list1:
        string = string+i +" "
        
    return string

In [30]:
list1 = ['Shuffle', 'the', 'elements', 'of', 'a', 'list', 'randomly']
print(list_to_string(list1))

Shuffle the elements of a list randomly

Quesion45.Create a list of the first `n` powers of 2.

In [37]:
def generate_powers_of_2(n1,n2):
    if n<0:
        return []
    power_of_list = []
    for i in range(n1,n2):
        power_of_list.append(i**2)
    return power_of_list

In [39]:
n1 = 10
n2 = 21
print(generate_powers_of_2(n1,n2))

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Quesion46.. Find the longest string in a list of strings.

In [46]:
strings = ["apple", "banana", "k", "grapefruit","skanvojnndlmCKOC"]
longest_string = ""

for s in strings:
    if len(s) > len(longest_string):
        longest_string = s

print(longest_string)

skanvojnndlmCKOC

Quesion47.Find the shortest string in a list of strings

In [51]:
def find_shortest_string(string_list):
    if not string_list:
        return None  

    shortest_string = string_list[0]
    for s in string_list[1:]:
        if len(s) < len(shortest_string):
            shortest_string = s
    return shortest_string

string_list = ["apple", "banana", "kiwi", "grape"]
result = find_shortest_string(string_list)
print(result)

kiwi

Quesion48.Create a list of the first `n` triangular numbers.

In [68]:
def triangular_numbers(n):
    list1 = []
    for i in range(1,n):
        j = i*(i+1)/2
        list1.append(int(j))
    return list1

In [69]:
n =10
print( triangular_numbers(n))

[1, 3, 6, 10, 15, 21, 28, 36, 45]

# Tuple

Quesion1.. Create a tuple with integers from 1 to 5

In [78]:
def tuple_int(n):
    tuple1 = ()
    list1 =[]
    for i in range(1,n+1):
        list1.append(i)
        tuple1 = tuple(list1)
    return tuple1

In [79]:
n = 5
print(tuple_int(n))

(1, 2, 3, 4, 5)

Quesion2.Access the third element of a tuple

In [76]:
tuple1 = (1,2,"Mohit","kumar",5)
tuple1[3]

'kumar'

Quesion3.Find the length of a tuple without using the `len()` function.

In [87]:
def lenth(tup):
    length = 0
    for i in tup:
        length+=1
    return length

In [88]:
tup = (1,2,"Mohit","kumar",5,65.5,658541,2141)
print(lenth(tup))

8

Quesion4.. Insert an element at a specific index in a list

In [91]:
tup = (1,2,"Mohit","kumar",5,65.5,658541,2141)
list1 = list(tup)
list1[5] = "rohit"
tup = tuple(list1)
tup

(1, 2, 'Mohit', 'kumar', 5, 'rohit', 658541, 2141)

Quesion5.Count the occurrences of an element in a tuple

In [93]:
def count_of_occurences(tup,word):
    count = 0
    for i in tup:
        if i==word:
            count+=1
    return count

In [95]:
tup = (1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit")
word = "mohit"
print(count_of_occurences(tup,word))

3

Quesion6.Find the index of the first occurrence of an element in a tuple.

In [3]:
def  first_occurrence(tup,element):
    
    for i in range(0,len(tup)):
        if tup[i] == element:
            j = i
            break
    return j

In [4]:
tup = (1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit")
element = "mohit"
print(first_occurrence(tup,element))

2

In [ ]:
Quesion6. Check if an element exists in a tuple

In [18]:
def check(tup,element):
    for i in range(0,len(tup)):
        if tup[i] == element:
            return True
            break
    else:
        return  False

In [19]:
tup = (1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit")
element = 2
print(check(tup,element))

True

Quesion7. Convert a tuple to a list.

In [23]:
def tuple_to_list(tup):
    list1=[]
    for i in tup:
        list1.append(i)
    return list1

In [24]:
tup = (1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit")
print(tuple_to_list(tup))

[1, 2, 'mohit', 'kumar', 5, 65.5, 658541, 2141, 'mohit', 'mohit']

Quesion8.Convert a list to a tuple

In [25]:
def list_to_tuple(list1):
    tup =()
    list2  =[]
    for i in list1:
        list2.append(i)
        tup = tuple(list2)
    return tup

In [26]:
list1 = [1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit"]
print( list_to_tuple(list1))

(1, 2, 'mohit', 'kumar', 5, 65.5, 658541, 2141, 'mohit', 'mohit')

Quesion9.Unpack the elements of a tuple into variables

In [27]:
tup = (1,2,"mohit","kumar",5,65.5,658541,2141,"mohit","mohit")
a,b,c,f,d,t,y,u,i,o = tup
print (a,b,c,f,d,t,y,u,i,o)

1 2 mohit kumar 5 65.5 658541 2141 mohit mohit

Quesion10.Create a tuple of even numbers from 1 to 10

In [32]:
def even_num(n1,n2):
    tup =()
    list1 =[]
    for i in range(n1,n2):
        if i%2==0:
            list1.append(i)
            tup = tuple(list1)
    return tup

In [34]:
n1=1
n2=50
print(even_num(n1,n2))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48)

Quesion11.Create a tuple of odd numbers from 1 to 10.

In [116]:
def even_num(n1,n2):
    list1 =[]
    for i in range(n1,n2):
        if i%2!=0:
            list1.append(i)
            
    return tuple(list1)

In [117]:
n1=1
n2=50
print(even_num(n1,n2))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

Quwsion12.. Concatenate two tuples

In [38]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 'a', 'b', 'c')

Quesion13.Repeat a tuple three times.

In [114]:
def repet(tup):
    tup1 = (((tup,))*4) 
    return tup1

In [115]:
tup = (1,2,3,4,5,6)
print(repet(tup))

((1, 2, 3, 4, 5, 6), (1, 2, 3, 4, 5, 6), (1, 2, 3, 4, 5, 6), (1, 2, 3, 4, 5, 6))

Quesion14.Check if a tuple is empty.

In [8]:
def chack(my_tuple):
    if len(my_tuple) == 0:
        print("The tuple is empty.")
    else:
        print("The tuple is not empty.")

In [9]:
my_tuple = ()
print(chack(my_tuple))

The tuple is empty.
None

Quesion15.. Create a nested tuple.

In [23]:
def nested(tup1,tup2,tup3):
    tup = (((tup1,)*2),((tup2,)*3),((tup3,)*4))
    return tup

In [24]:
tup1 =(1,2,3,4)
tup2 = (5,6,7,8)
tup3 = (9,12,3,5)
print(nested(tup1,tup2,tup3))

(((1, 2, 3, 4), (1, 2, 3, 4)), ((5, 6, 7, 8), (5, 6, 7, 8), (5, 6, 7, 8)), ((9, 12, 3, 5), (9, 12, 3, 5), (9, 12, 3, 5), (9, 12, 3, 5)))

Quesion16.Access the first element of a nested tuple

In [27]:
nested_tuple =(1,2,3,4,(4,5,6,7,(8,9,4,5)))
print(nested_tuple[4][3])

7

Quesion17.Create a tuple with a single element.

In [28]:
tup = ("apple")
print(tup)

apple

Quesion18.Compare two tuples.

In [31]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (3, 2, 1)
print(tuple1 == tuple2)  
print(tuple1 == tuple3)

True
False

Quesion19.Delete a tuple.

In [35]:
my_tuple = ("apple", "banana", "cherry")
print(f"Original tuple: {my_tuple}")

del my_tuple
try:
    print(my_tuple)
except NameError as e:
    print(f"Error: {e}")

Original tuple: ('apple', 'banana', 'cherry')
Error: name 'my_tuple' is not defined

Quesion20.Slice a tuple.

In [37]:
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90)

slice1 = my_tuple[2:7]
print(f"Slice from index 2 to 7: {slice1}")  

slice2 = my_tuple[:5]
print(f"Slice from beginning to index 5: {slice2}")  


slice3 = my_tuple[4:]
print(f"Slice from index 4 to end: {slice3}")  


slice4 = my_tuple[::2]
print(f"Slice with step 2: {slice4}")  


reversed_tuple = my_tuple[::-1]
print(f"Reversed tuple: {reversed_tuple}")  


slice5 = my_tuple[-5:-2]
print(f"Slice using negative indices: {slice5}")

Slice from index 2 to 7: (30, 40, 50, 60, 70)
Slice from beginning to index 5: (10, 20, 30, 40, 50)
Slice from index 4 to end: (50, 60, 70, 80, 90)
Slice with step 2: (10, 30, 50, 70, 90)
Reversed tuple: (90, 80, 70, 60, 50, 40, 30, 20, 10)
Slice using negative indices: (50, 60, 70)

Quesion21.Find the maximum value in a tuple.

In [38]:
def maximum_value(tup):
    max_val = 0
    for i in  tup:
        if i>max_val:
            max_val = i
    return max_val

In [40]:
tup =(5,6,7,8,1,44,2,7,9,3,7,15)
print(maximum_value(tup))

44

Quesion22.Find the minimum value in a tuple.

In [51]:
def minimum_value(tup):
    min_val = tup[0]
    for i in  tup:
        if i<min_val:
            min_val = i
    return min_val

In [52]:
tup =(5,6,7,8,5,44,2,7,9,3,7,15)
print(minimum_value(tup))

2

Quesion23.Convert a string to a tuple of characters.

In [118]:
def  split(string):
    list1 =[]
    start = 0
    for i in range(0,len(string)):
        if string[i] ==" ":
            space_index = i
            word = string[start:space_index]
            start = space_index+1
            list1.append(word)
    list1.append(string[start:])
    return tuple(list1)
            
string = "Shuffle the elements of a list randomly"        
print(split(string))

('Shuffle', 'the', 'elements', 'of', 'a', 'list', 'randomly')

Quesion24.Convert a tuple of characters to a string

In [81]:
def tuple_to_string(tup):
    string = ""
    for i in tup:
      string =string+i+" "  
    return string

In [86]:
tup = ('Shuffle', 'the', 'elements', 'of', 'a', 'list', 'randomly')
print(tuple_to_string(tup))

Shuffle the elements of a list randomly

In [90]:
Quesion25.

SyntaxError: invalid syntax (2214402946.py, line 1)

Quesion26.Check if two tuples are identical.

In [92]:
tuple1 = (1, "apple", 3.14)
tuple2 = (1, "apple", 3.14)
tuple3 = (1, "banana", 3.14)
tuple4 = (1, "apple")

print(f"tuple1 == tuple2: {tuple1 == tuple2}")  
print(f"tuple1 == tuple3: {tuple1 == tuple3}")  
print(f"tuple1 == tuple4: {tuple1 == tuple4}")

tuple1 == tuple2: True
tuple1 == tuple3: False
tuple1 == tuple4: False

Quesion27.Sort the elements of a tuple.

In [112]:
def sort(tup):
    list1 = list(tup)
    n = len(list1)
    for i in range(n):
        for j in range(n-i-1):
            if list1[j]>list1[j+1]:
                list1[j],list1[j+1] = list1[j+1],list1[j]
    return tuple(list1)

In [113]:
tup = (5, 2, 8, 1, 9)
print(sort(tup))

(1, 2, 5, 8, 9)

Quesion28.Convert a tuple of integers to a tuple of strings.

In [131]:
def tuple_string(tup):
    list1 = []
    for i in  range(0,len(tup)):
        l =str(i)
        list1.append(l)
    return tuple(list1)

In [132]:
tup = (5, 2, 8, 1, 9)
print(tuple_string(tup))

('0', '1', '2', '3', '4')

Quesion29.Convert a tuple of strings to a tuple of integers.

In [141]:
def string_tuple(tup_string):
    list1 =[]
    for i in range(0,len(tup_string)):
        x = int(i)
        list1.append(x)
    return tuple(list1)

In [142]:
tup_string =('0', '1', '2', '3', '4')
print(string_tuple(tup_string))

(0, 1, 2, 3, 4)

Quesion30.Merge two tuples.

In [143]:
tup1 = (1,2,3,4,5,6)
tup2 =(7,8,9,10,11)
tup3 =(tup1+tup2)
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

Quesion32.Create a tuple of the first 5 prime numbers

In [147]:
def prime_num(n):
    list1 =[]
    for i in range(2,n):
        if n%i !=0:
            list1.append(i)
    return tuple(list1)

In [148]:
n = 10
print(prime_num(n))

(3, 4, 6, 7, 8, 9)

Quesion33.Check if a tuple is a palindrome

In [169]:
def palindrome(tup):
    if tup == tup[::-1]:
            return True
    else:
        return False

In [171]:
tup = (1,2,3,4,5,4,3,2,1)
print(palindrome(tup))

True

Quesion34.Create a tuple of squares of numbers from 1 to 5.

In [172]:
def sequires(n):
    list1=[]
    for i in range(1,n):
        list1.append(i**2)
    return tuple(list1)

In [173]:
n= 10
print(sequires(n))

(1, 4, 9, 16, 25, 36, 49, 64, 81)

Quesion35.Filter out all even numbers from a tuple.

In [176]:
def filter1(tup):
    list1 =[]
    for i in tup:
        if i%2 ==0:
            list1.append(i)
    return tuple(list1)

In [177]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,45,74)
print(filter1(tup))

(2, 4, 6, 8, 10, 12, 74)

Quesion36.Multiply all elements in a tuple by 2.

In [178]:
def multiply(tup):
    list1 =[]
    for i in tup:
            list1.append(i*2)
    return tuple(list1)

In [179]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,45,74)
print(multiply(tup))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 90, 148)

Quesion38.Check if a tuple is sorted.

In [187]:
def sorted(t):
     if ascending:
        for i in range(len(t) - 1):
            if t[i] > t[i+1]:
                return False
    else:
        for i in range(len(t) - 1):
            if t[i] < t[i+1]:
                return False
    return True

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

Quesion39.. Rotate a tuple to the left by `n` positions.

In [191]:
def left_rotate(tup,n):
    
    tup1 = (tup[n:]+tup[:n])
    return tup1

In [195]:
n= 2
tup = (1,2,3,4,5,6)
print(left_rotate(tup,n))

(3, 4, 5, 6, 1, 2)

Quesion40.Rotate a tuple to the right by `n` positions.

In [193]:
def right_rotate(tup,n):
    
    tup1 = (tup[-n:]+tup[:-n])
    return tup1

In [196]:
n= 2
tup = (1,2,3,4,5,6)
print(right_rotate(tup,n))

(5, 6, 1, 2, 3, 4)

Quesion41.Create a tuple of the first 5 Fibonacci numbers.

In [207]:
def  Fibonacci_numbers(n):
    a,b = 0,1
    for i in range(n):
        print(a, end = " ")
        a,b = b,a+b

In [209]:
n = 10
print (Fibonacci_numbers(n))

0 1 1 2 3 5 8 13 21 34 None

Quesion42.Create a tuple from user input.

In [213]:
x = tuple(input("Enter the value"))

print(x)

Enter the value 12345678mohit

('1', '2', '3', '4', '5', '6', '7', '8', 'm', 'o', 'h', 'i', 't')

Quesion43.Swap two elements in a tuple.

In [214]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1 
index2 = 3  

temp_list = list(my_tuple)

temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]

new_tuple = tuple(temp_list)

print(new_tuple)

(1, 4, 3, 2, 5)

Quesion44.Reverse the elements of a tuple.

In [216]:
tup = (1,2,3,4,5,6,7,8,9)
tup1 = tup[::-1]
print(tup1)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

Quesion45.Create a tuple of the first `n` powers of 2.

In [221]:
def power(n1,n2):
    list1 = []
    for i in range(n1,n2):
        list1.append(i**2)
    return tuple(list1)

In [223]:
n1 = 10
n2 =21
print(power(n1,n2))

(100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

Quesion46.Find the longest string in a tuple of strings.

In [234]:
def longest_string(tuple_string):
    longest_string = ""
    for i in tuple_string:
        if len(i)>len(longest_string):
            longest_string = i
    return longest_string

In [235]:
tuple_string = ("apple", "banana", "kiwi", "strawberry", "grape")
print(longest_string(tuple_string))

strawberry

Quesion47.Find the shortest string in a tuple of strings

In [240]:
def find_shortest_string(string_tup):
    if not string_tup:
        return None  

    shortest_string = string_list[0]
    for s in string_tup[1:]:
        if len(s) < len(shortest_string):
            shortest_string = s
    return shortest_string

string_tup = ("apple", "banana", "kiwi", "grape")
result = find_shortest_string(string_list)
print(result)

kiwi

Quesion48.Create a tuple of the first `n` triangular numbers

In [5]:
def  triangular_numbers(n):
    list1 = []
    for i in range(1,n):
        list1.append(i*(i+1)/2)
    return tuple(list1)

In [6]:
n = 10
print( triangular_numbers(n))

(1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0)

# set

Quesion1.. Create a set with integers from 1 to 5.

In [11]:
def set1(n):
    list1 =[]
    for i in range(1,n+1):
        list1.append(i)
    return set(list1)

In [12]:
n = 10
print(set1(n))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Quesion2.. Add an element to a set.

In [14]:
set1 = {1,2,3,4,5,6,7}
list1 = list(set1)
list1.append(8)
print (set(list1))

{1, 2, 3, 4, 5, 6, 7, 8}

Quesion4.Check if an element exists in a set.

In [17]:
def chack(set1,element):
    for i in set1:
        if i == element:
            return True
    else:
        return False

In [19]:
set1 ={1,2,3,4,5,6,7}
element =8
print(chack(set1,element))

False

Quesion5.Find the length of a set without using the `len()` function.

In [21]:
def length(set1):
    length_of_set = 0
    for i in set1:
        length_of_set+=1
    return length_of_set

In [24]:
set1 ={1,2,3,4,5,6,7,9,"mohit"}
print(length(set1))

9

Quesion6.Clear all elements from a set.

In [25]:
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")
my_set = set() 
print(f"Set after reassigning to an empty set: {my_set}")

Original set: {1, 2, 3, 4, 5}
Set after reassigning to an empty set: set()

Quesion7.Create a set of even numbers from 1 to 10.

In [28]:
def even_set(n):
    list1 =[]
    for i in range(1,n+1):
        if i%2==0:
            list1.append(i)
    return set(list1)

In [29]:
n = 10
print(even_set(n))

{2, 4, 6, 8, 10}

Quesion8.Create a set of odd numbers from 1 to 10

In [32]:
def odd_set(n):
    list1 =[]
    for i in range(1,n+1):
        if i%2!=0:
            list1.append(i)
    return set(list1)

In [33]:
n =10
print(odd_set(n))

{1, 3, 5, 7, 9}

Quesion9.Find the union of two sets.

In [37]:
def union(set1,set2):
    union_set = set1 | set2
    return (union_set)

In [38]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(union(set1,set2))

{1, 2, 3, 4, 5, 6}

Quesion10.Find the intersection of two sets.

In [39]:
def intersection(set1,set2):

    intersection_set = set1 & set2
    return(intersection_set)

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print( intersection(set1,set2))

{4, 5}

In [47]:
def intersection(set1,set2):
    for i in set1:
        if i in set2:
            print(i)

In [48]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print( intersection(set1,set2))

4
5
None

Quesion11.Find the difference between two sets

In [52]:
def difference1(set1,set2):

    difference_set = set1 - set2
    return (difference_set)

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(difference1(set1,set2))

{1, 2, 3}

In [54]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1 - set2
print(difference_set)

{1, 2, 3}

Quesion12.Check if a set is a subset of another set.

In [56]:
def check_subset_difference(set_a, set_b):
    return len(set_a - set_b) == 0

set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(f"Is {set1} a subset of {set2}? {check_subset_difference(set1, set2)}")

Is {1, 2} a subset of {1, 2, 3, 4}? True

Quesion13.Check if a set is a superset of another set

In [80]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}
set1 >= set2

True

Quesion14.Create a set from a list

In [83]:
my_list = [1, 2, 3, 2, 4, 3, 5]
list1 =[]
for i in my_list:
    list1.append(i)
print(set(list1))

{1, 2, 3, 4, 5}

Quesion15.Convert a set to a list.

In [84]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

Quesion16.Remove a random element from a set

Removed element: apple
Remaining set: {'banana', 'cherry', 'date'}

Quesion17.17. Pop an element from a set.

In [86]:
my_set = {"apple", "banana", "cherry", "date"}
removed_element = my_set.pop()
print(f"Removed element: {removed_element}")
print(f"Remaining set: {my_set}")

Removed element: apple
Remaining set: {'banana', 'cherry', 'date'}

Quesion18.Check if two sets have no elements in common

In [97]:
def no_common(set1,set2):
    for i in set1:
        if i in set2:
            return True
    else:
        return False

In [100]:
set1 = {1, 2, 3, 4, 5}
set2 = { 5,6, 7, 8}
print(no_common(set1,set2))

True

Quesion19.Find the symmetric difference between two sets.

In [116]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1 ^ set2
print(symmetric_diff)

{1, 2, 5, 6}

In [118]:
def symmetric_diff(set1,set2):
    a = set1-set2
    b= set2-set1
    c = a|b
    return c

In [119]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(symmetric_diff(set1,set2))

{1, 2, 5, 6}

Quesion20.Update a set with elements from another set.

In [120]:
set_a = {10, 20, 30}
set_b = {30, 40, 50}

set_a |= set_b

print(set_a)

{50, 20, 40, 10, 30}

Quesion21.Create a set of the first 5 prime numbers

Quesion22.Check if two sets are identical.

In [126]:
set1 = {1, 2, 3}
set2 = {3, 1, 2}
set3 = {1, 2, 4}

set1 == set2 
set1 == set3


print(f"Are set1 and set2 identical? {are_identical_1_2}")
print(f"Are set1 and set3 identical? {are_identical_1_3}")

Are set1 and set2 identical? True
Are set1 and set3 identical? False

Quesion23.Create a frozen set.

Quesion24.Check if a set is disjoint with another set.

In [133]:
def  disjoint(set1,set2):
    set3 = set1&set2
    if set3 != 0:
        return True
    else:
        return False

In [135]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(disjoint(set1,set2))

True

Quesion25. Create a set of squares of numbers from 1 to 5

In [151]:
def set_of_squares(n):
    list1 = []
    for i in range(1,n+1):
        list1.append(i**2)
    return set(list1)

In [154]:
n = 6
print(set_of_squares(n))

{1, 4, 36, 9, 16, 25}

Quesion26.Filter out all even numbers from a set.

In [167]:
def set_of_even(set1):
    list1 = []
    for i in set1:
        if i%2 ==0:
            
            list1.append(i)
    return set(list1)

In [168]:
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,43,44,45,67}
print( set_of_even(set1))

{2, 4, 6, 8, 10, 12, 44}

Quesion27. Multiply all elements in a set by 2.

In [174]:
def set_of_multiply(n):
    list1 = []
    for i in range(1,n+1):
        list1.append(i*2)
    return set(list1)

In [175]:
n = 6
print(set_of_multiply(n))

{2, 4, 6, 8, 10, 12}

Quesion28.. Create a set of random numbers.

In [1]:
set1={1,2,3,4,5,6,7,8,9,10,14,15,18,19}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 18, 19}

Quesion29.Check if a set is empty

In [20]:
def empty(set1):
    if len(set1)<=0:
        return "set is empty"
    else:
        return "set is not empty"

In [21]:
set1 =()
print(empty(set1))

set is empty

Quesoin31.Remove an element from a set using the discard method

In [29]:
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")

my_set.discard(3)
print(my_set)

my_set.discard(6)
print( my_set)

Original set: {1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

Quesion32.Compare two sets

In [25]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 4}

print(set1 == set2) 
print(set1 == set3)

True
False

Quesion33.Create a set from a string.

In [30]:
def  split(string):
    list1 =[]
    start = 0
    for i in range(0,len(string)):
        if string[i] ==" ":
            space_index = i
            word = string[start:space_index]
            start = space_index+1
            list1.append(word)
    list1.append(string[start:])
    return set(list1)
            
string = "Shuffle the elements of a list randomly"        
print(split(string))

{'elements', 'Shuffle', 'of', 'the', 'randomly', 'list', 'a'}

Quesion34.Convert a set of strings to a set of integers.

Quesion34.Convert a set of strings to a set of integers

In [33]:
def  split(string):
    list1 =[]
    start = 0
    for i in range(0,len(string)):
        if string[i] ==" ":
            space_index = i
            word = string[start:space_index]
            start = space_index+1
            list1.append(word)
    list1.append(string[start:])
    return set(list1)
            
string = "1,2,3,4,5,6,7,8,9"        
print(split(string))

{'1,2,3,4,5,6,7,8,9'}

In [36]:
def  split(string):
    list1 =[]
    start = 0
    for i in range(1,len(string)):
        list1.append(int(i))
    return set(list1)

In [38]:
            
string = "12345678910"        
print(split(string))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Quesion35.Convert a set of integers to a set of strings.

In [40]:
def  split(integers):
    list1 =[]
    start = 0
    for i in integers:
        list1.append(str(i))
    return set(list1)

In [41]:
integers = 1,2,3,4,5,6,7,8,9
print(split(integers))

{'8', '9', '5', '2', '1', '3', '6', '4', '7'}

Quesion36. Create a set from a tuple.

In [52]:
def  split(tup):
    list1 =[]
    start = 0
    for i in range(0,len(tup)):
        list1.append(tup[i])
    return set(list1)

In [54]:
tup = (1,2,3,4,5,"mohit",6,7,8,9)
print(split(tup))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'mohit'}

Quesion37.Convert a set to a tuple.

In [59]:

my_set = {'apple', 'banana', 'cherry'}
my_tuple = tuple(my_set)
print(my_tuple)
print(type(my_tuple))

('banana', 'apple', 'cherry')
<class 'tuple'>

Quesoin38.Find the maximum value in a set.

In [60]:
def maximum_value(set1):
    max_val = 0
    for i in set1:
        if i>max_val:
            max_val=i
    return max_val

In [63]:
set1={1,2,3,4,15,5,8,7,6}
print(maximum_value(set1))

15

Quesion39.Find the minimum value in a set.

In [81]:
def maximum_value(set1):
    max_val = 0
    for i in set1:
        if i>max_val:
            max_val=i
    return max_val


def minimum_value(set1):
    min_val = maximum_value(set1)
    for i in  set1:
        if i<min_val:
            min_val = i
    return min_val

In [95]:
set1 ={8,5,4,9,7,6,2,3,15,16}
print(minimum_value(set1))

None

TypeError: 'NoneType' object is not subscriptable

In [ ]:
def minimum_value(set1):
    list1 = list(set1)
    n = len(list1)

In [102]:
def minimum_value(set1):
    print(set1)
    list1 = list(set1)
    list1.
    return list1[0]

In [103]:
minimum_value(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 15, 16}

2

In [104]:
list1 =[1,2,3,4,5]
list1.sort()

Quesion40.Create a set from user input

In [105]:
def creat(set1):
    return set1

In [106]:
creat(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 15, 16}

Quesion41.Check if the intersection of two sets is empty.

In [108]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

if len(set1.intersection(set2)) == 0:
    print("Intersection is empty.")
else:
    print("Intersection is not empty.")

Intersection is not empty.

Quesion42. Create a set of the first 5 Fibonacci numbers

In [113]:
list1 = [1,2,3,4,5,6,7,7,8,8]
list2 = set(list1)
print(list2)

{1, 2, 3, 4, 5, 6, 7, 8}

Quesion43.Check if two sets have the same elements, regardless of their count.

In [117]:
list1 = [1, 2, 2, 3, 4]
list2 = [4, 3, 1, 2]

set1 = set(list1)
set2 = set(list2)

if set1 == set2:
    print("The two collections have the same elements (ignoring count and order).")
else:
    print("The two collections do not have the same elements.")

The two collections have the same elements (ignoring count and order).

Quesion44.Create a set of the first `n` powers of 2.

In [118]:
def power(set1):
    list1 =[]
    for i in set1:
        list1.append(i**2)
    return set(list1)

In [119]:
set1 = {1,2,3,4,5,6,7}
power(set1)

{1, 4, 9, 16, 25, 36, 49}

Quesion45.Find the common elements between a set and a list.

In [120]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 6, 7, 8]
list_as_set = set(my_list)

common_elements = my_set.intersection(list_as_set)


print(f"The common elements are: {common_elements}")

The common elements are: {3, 4}

Quesion46.Create a set of the first `n` triangular numbers.

In [121]:
def triangular_numbers(n):
    list1 = []
    for i in range(1,n):
        list1.append(i*(i+1)/2)
    return set(list1)

In [122]:
n= 10
triangular_numbers(n)

{1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0}

Quesion47.Check if a set contains another set as a subset.

In [123]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
set_c = {1, 2, 6}

is_a_subset_of_b = set_a.issubset(set_b)
print(f"Is set_a a subset of set_b? {is_a_subset_of_b}")

is_c_subset_of_b = set_c.issubset(set_b)
print(f"Is set_c a subset of set_b? {is_c_subset_of_b}")

Is set_a a subset of set_b? True
Is set_c a subset of set_b? False

Quesion48.Create a set of alternating 1s and 0s of length `n`.

In [125]:
def create_alternating_sequence(n):
    
    if not isinstance(n, int) or n < 0:
        raise ValueError("n must be a non-negative integer.")

    sequence = []
    for i in range(n):
        if i % 2 == 0:  
            sequence.append(1)
        else:  
            sequence.append(0)
    return sequence


length = 7
result = create_alternating_sequence(length)
print(result)

[1, 0, 1, 0, 1, 0, 1]

Quesion49. Merge multiple sets into one.

In [126]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

combined_set = set1.union(set2, set3)
print(combined_set)

{1, 2, 3, 4, 5, 6, 7}

In [127]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

combined_set = set1|set2|set3
print(combined_set)

{1, 2, 3, 4, 5, 6, 7}